@import '~quasar-variables';

#IHR_
  &personal-page
    width 90%
    margin 0pt auto

    & #profile
      width 90%

      & > div
        display table-row

        & > *
          display table-cell

        & > label
          text-align right
          padding-right 5pt
          font-weight 500

        & > *last-child
          padding-left 8pt


  &monitored-as-panel
    text-align center
    & .IHR_
      &info-level
        margin 7pt auto
        padding 4pt
        font-size 12pt
        background-color $info
        color white
        max-width 240px
        min-width 230px
        min-height 90px
        &:first-letter
          text-transform capitalize

.IHR_
  &confirm-element
    padding-left 8pt
  &not-access
    width 50%
    margin 40pt auto 0px auto
    padding 3pt 8pt 20pt 8pt
    text-align center
    & > h2
      margin-bottom 20pt

  &personal-page-sidebar
    & > h3
      margin-top 2pt
      width 88%
      margin 0px auto
      font-size 15pt
      font-weight 500

      &:first-letter
        text-transform capitalize

    & > div
      width 82%
      margin 4pt auto 2pt auto

      & a:hover
        padding-bottom 2pt
        border-bottom 2px solid $secondary

      & a:active
        border-bottom 2px solid $accent

  &asn-monitoring-board
    width 92%
    min-height 50vh
    margin-bottom 30vh
    margin-left 12pt

  &asn-element
    width 100%
    margin 0px
    padding 0px

    ~/asn-name
      text-align left

  &settings-table
    max-width 90%