.IHR_
  &chart
    text-align center
    position relative
    margin-bottom 100px

    &h1
      font-size 25pt
      margin-bottom 0px
      font-weight 400
      line-height 1

  &loading-spinner
    position absolute
    top 35%
    left 49%

  &api-table
    & table
      display inline-block
      margin 0 auto
      text-align left
    & p
      text-align left
      text-transform capitalize
      color #000000
      font-weight 200
    & h3
      color #000000
      text-align left
      font-weight 300

  &table-card
    padding 0px
    background-color #475057
    color #475057

  &table-close-button
    position absolute
    right 20px
    z-index 4
    color gray
    box-shadow none
    font-size 14pt
    font-family monospace
    font-weight 600
    cursor pointer

  &table-row
    cursor pointer

  &color-increment
    font-weight 600

  &important-cell
    font-weight bold

  &color-deviation-mid-threshold
    color #eb9329

  &color-deviation-high-threshold
    color #c41c00

.q-td
    white-space: normal !important;

