<!DOCTYPE html>
<html>
    <head>
        <title>Prefix Details</title>
        <script src = "./prefixResults.js"></script>
    </head>
    <body>
        <h1>
            Prefix Results
        </h1>

        <table id="prefix-details-table"> 
            <thead>
                <tr>
                    <th>Country Code</th>
                    <th>RPKI</th>
                    <th>IRR</th>
                    <th>Delegated Status</th>
                </tr>
            </thead>
            <tbody id="data-body">               
            </tbody>
        </table>
    </body>
</html>