@import '../styles/quasar.variables';
.stat-grid
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-items: stretch;
@media screen and (max-width: 768px)
  .stat-grid
    grid-template-columns: repeat(2, 1fr);
@media screen and (max-width: 480px)
  .stat-grid
    grid-template-columns: 1fr;
.stat-cards
  width 100% !important
.stat-tab
  border-radius 10px
  min-height 120px
  background: white;
  border 1px solid #E9E8E8
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display flex
  flex-direction column
  justify-content center
  align-items center
.IHR_global_stats
  text-decoration none;
  display flex;
  justify-content center;
  align-items center;
  flex-direction column;
.IHR_charts-body
  border-radius 20px
  background: white;
  border-left 1px solid #F9F8F8
  border-right 1px solid #F9F8F8
  border-bottom 1px solid #F9F8F8
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
.IHR_charts-title
  width 100%
  margin-top 10px
  border-top 1px solid #F9F8F8
  border-left 1px solid #F9F8F8
  border-right 1px solid #F9F8F8
  border-bottom 1px solid #F9F8F8
.graph-header
  display flex
  justify-content flex-start
  align-items center
  flex-direction row
  width 100%
.graph-header-div
  display flex
  justify-content space-between
  align-items center
  width 100%
.filter-div
  max-width 300px
.toggle-arrow
  padding 0px 0px 0px 16px !important
@media screen and (max-width: 650px)
  .graph-header-div
    flex-direction column
    justify-content center
    align-items flex-start
  .filter-div
    margin-top 5px
[dir=ltr] .q-item__section--side
  padding-right: 0;
  padding-left: 16px;
.IHR_
  &subtitle_calendar
      position relative
      top -5px
      left 5px

  &sidebar-filter-section-global
    & label
      margin 0pt 4pt
      font-weight 600

  &presets-name
    font-weight 500
    &-vertical
        font-size 18pt
        width 100%
        text-align center
        margin 8pt 0
        border-top rgb(164, 171, 171, 90) solid 2px
        transition font-weight 0.2s;

        &:last-of-type
          border-bottom rgb(164, 171, 171, 90) solid 2px

        &:hover
          font-weight 600

        & > span
          color $accent
          display inline-block
          padding 14px 0px
          transform rotate(-90deg)
          /*
          text-orientation upright
          letter-spacing -7px
          */
          cursor pointer