.IHR_Style_
  &rotate-item
    &-off
      transform rotate(0deg)
      transform-origin center
      height 35%
      margin-top 0px
      transition transform 0.2s linear
    &-on
      transform rotate(180deg)
      transform-origin center
      height 35%
      margin-top @height
      transition transform 0.2s linear