@import './quasar.variables'
@import '~quasar-styl'
// @import '~quasar-addon-styl'


h1,
.text-h1
  margin 0pt
  font-size 34pt
  font-weight 400

h2,
.text-h2
  margin 0pt
  font-size 24pt
  font-weight 300

h3,
.text-h3
  margin 0pt
  font-size 14pt
  font-weight 300
