// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #263238
$secondary = #1976d2
$accent    = #405057

$positive  = #21ba45
$negative  = #c10015
$info      = #4f5b62
$warning   = #ffee58

@import '~quasar-variables-styl'
